@import url("https://cdn.syncfusion.com/ej2/bootstrap5.css");

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}


.checkbox-container {
  margin-top: -350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  border: 1px solid dodgerblue;
  padding: 10px;
}



div[style*="position: fixed;"] {
  display: none !important;
}

